<nav class="navbar-nav">
  <div class="navbar-container">
    <span class="navbar-logo">
      <img src="assets/logo.png" alt="Gotitas Dentales Logo" class="navbar-logo-img">
      <span class="navbar-logo-title">Gotitas Dentales</span>
    </span>
    <a routerLink="/" class="navbar-btn">Inicio</a>
    <a routerLink="/servicios" class="navbar-btn">Servicios</a>
    <a routerLink="/contacto" class="navbar-btn">Contacto</a>
    <a routerLink="/about" class="navbar-btn">About</a>
    <hr class="navbar-separator">
    <a routerLink="/pacientelogin" class="navbar-btn navbar-btn-paciente">Pacientes</a>
    <a routerLink="/doctorlogin" class="navbar-btn navbar-btn-doctor">Doctores</a>
  </div>
</nav>
